
extends layout

block content
    div.container
        div.row
            div.col-sm-6.property-summary
             div.panel.panel-default
              div.panel-heading Property Summary
              div.panel-body
                h1.hidden Address Search Results
                //If there is one rental license at the property
                p#address
                 i.kv-icon.fa.fa-home
                 span  #{address}

                p
                 i.kv-icon.fa.fa-user-circle
                 span Property Manager: #{results[0][0].ContactName}
                p
                 i.kv-icon.fa.fa-briefcase
                 span Owner: #{results[0][0].APP_NAME}
                p
                 i.fa.fa-calendar-o.kv-icon
                 span Owner Since: #{moment(results[0][0].IssueDate).format('MM/DD/YYYY')}
                p
                 i.fa.fa-list-ol.kv-icon
                 span Property Quality: #{results[0][0].Tier}
                p
                 i.fa.fa-hashtag.kv-icon
                 span Properties Owned: #{propertyCountForOwner}
                 br
                 span 

                div.view-all-properties
                 a(href="/landlordsearch/#{encodeURIComponent(results[0][0].APP_NAME)}") View All Properties


            
            div.col-sm-6
              div.streetview(style="background-image: url(#{streetView_image});")
              //img.img-responsive.streetview_property(src= streetView_image)


            
        div.row.margin-bottom-20
            h2.hidden 311 Calls for this Property
            //Need to have logic for multiple licenses, multiple tiers, multiple owners all at one property
            if (locals.results[0].length > 1)
              p There are more than one licenses for this property

            if (locals.results[1].length > 0)
              
                div.col-sm-12
                    //p Property Manager:
                    //    a#landlordName #{results[0].ContactName}
                    //p Manager since: #{moment(results[0].IssueDate).format('MM/DD/YYYY')}
                    table.table.table-striped.table-bordered#results
                      thead
                        tr
                          //th #
                          th Type
                          th Date of Incident
                      tbody
                        each rrow, i in results[1]
                          tr
                            //td #{i+1}
                            td #{results[1][i].TypeName}
                            td(data-sort = moment(results[1][i].OpenedDateTime).unix()) #{moment(results[1][i].OpenedDateTime).format('MM-DD-YYYY')}
                            //- td #{moment(results[1][i].OpenedDateTime).format('dddd, MMMM Do YYYY')} //data tables can't sort this 
                            //- Also, Firefox won't sort his format: #{moment(results[1][i].OpenedDateTime).format('MM-DD-YYYY')}  ...see here: http://dygraphs.com/date-formats.html
            else
                div.col-sm-12
                 div.text-align-center.no-311-calls 
                  span.margin-right-10 No 311 Calls for this Property
                  i.fa.fa-hand-peace-o.kv-icon

        div.row
            div.col-md-12
             div.panel.panel-default
                h2.hidden Rental Properties in the Neighborhood
                div.panel-heading.text-align-center Rental Properties in the Neighborhood
                include map



block script
    script(type='text/javascript').
        $(document).ready(function() {
                $('#results').DataTable({
                  //default sort by most recent at the top
                  "order": [[1, "desc"]],
                  "bLengthChange": false,
                  "searching": false
                });

                //$('.streetview').css('background-image','url('+streetView_image+')');
            });
