extends layout

block content
	div.container
		div.col-xs-12
			div.row
				div.col.xs-12.col-sm-12.col-sm-offset-0.col-md-12.col-md-offset-0
					h1 Blog
					each rrow, i in posts
						-if (posts[i].status != 'draft')
								div.row.blogList
									a(href="/blog/#{posts[i].id}").blogList
										div.hidden-xs.col-sm-0
											//-if (posts[i].thumbnail.thumbnail)
												//img(src='#{posts[i].thumbnail.thumbnail}').blogThumbnail
											//-else
												//img(src='/favicon.png').blogThumbnail
										div.col-xs-12.col-sm-12
											h2 #{posts[i].title}
												//span.byline.hidden-xs | Brian Martucci
											//span.byline.visible-xs Brian Martucci	
											//h4 #{moment(posts[i].date).format('MM/DD/YYYY')}
											h4.byline Brian Martucci | #{moment(posts[i].date).format('MM/DD/YYYY')}
											p #{posts[i].excerpt}
											br

















