extends layout

block extraHeader
    link(rel='stylesheet', href='stylesheets/landlordSearch.css')


block content
   div.container
    div.row
     div.col-md-4
      div.panel.panel-default
       div.panel-heading
        i.kv-icon.fa.fa-briefcase
        span Owner: #{landlordName}
     div.col-md-4
      div.panel.panel-default
       div.panel-heading
        i.kv-icon.fa.fa-briefcase
        span Owner Since: #{moment(ownerSinceDate).format('MM/DD/YYYY')}
     div.col-md-4
      div.panel.panel-default
       div.panel-heading
        i.kv-icon.fa.fa-briefcase
        span Properties Owned: #{propertyCountForOwner} &nbsp;
         a(href="#AllPropertiesMap") (View Map)

    div
    table.table.table-striped#results
      thead
        tr
          th #
          th Address
          th Type
          th Date of Incident
      tbody
        each rrow, i in calls311
          tr
            td #{i+1}
            td#address #{calls311[i].Address}
            td #{calls311[i].TypeName} 
            td #{moment(calls311[i].OpenedDateTime).format('MM-DD-YYYY')}

    div.row
        div.col-md-12
            div.panel.panel-default
            div.panel-heading.text-align-center Properties Owned
            //include map

block script
    script(type='text/javascript').
        $(document).ready(function() {
                $('#results').DataTable();
            });