extends layout

block extraHeader
    link(rel='stylesheet', href='stylesheets/landlordSearch.css')


block content
   div.container
    div.row
     div.col-md-4
      div.panel.panel-default
       div.panel-heading
        i.kv-icon.fa.fa-briefcase
        span Owner: #{landlordName}
     div.col-md-4
      div.panel.panel-default
       div.panel-heading
        i.kv-icon.fa.fa-briefcase
        span Owner Since: #{moment(ownerSinceDate).format('MM/DD/YYYY')}
     div.col-md-4
      div.panel.panel-default
       div.panel-heading
        i.kv-icon.fa.fa-briefcase
        span Properties Owned: #{propertyCountForOwner} &nbsp;
         //a(href="#AllPropertiesMap") (View Map)

    div.row
      h4.landlord_properties Properties

      each rrow, i in properties[0]
        a(href= "/addressSearch/#{properties[0][i].Address}")
          div.col-xs-6          
            div.row.landlord_properties
              div.col-xs-6
                 div.landlord_streetview(style="background-image: url(#{properties[0][i].image_url});")
              div.col-xs-6
                p.property_address #{properties[0][i].Address}
                
                p
                  i.glyphicon.glyphicon-home 
                  span Neighborhood: #{properties[0][i].Neighborhood}


                p
                  //i.fa.fa-list-ol.kv-icon
                  i.glyphicon.glyphicon-list
                  span #{properties[0][i].Tier}
                
                p 
                  i.glyphicon.glyphicon-calendar
                  //i.fa.fa-hashtag.kv-icon
                  span Managed Since: #{moment(properties[0][i].IssueDate).format('MM/DD/YYYY')}

          //p Password: #{properties[0][i].image_url}

    div
    if (locals.calls311.length > 0)

        table.table.table-striped#results
          thead
            tr
              th #
              th Address
              th Type
              th Date of Incident
          tbody
            each rrow, i in calls311
              tr
                td #{i+1}
                td#address #{calls311[i].Address}
                td #{calls311[i].TypeName}
                td #{moment(calls311[i].OpenedDateTime).format('MM-DD-YYYY')}
    else
         div.text-align-center.property-summary.no-311-calls 
                  span.margin-right-10 No 311 Calls for this Landlord
                  i.fa.fa-hand-peace-o.kv-icon

    div.row
        div.col-md-12
            div.panel.panel-default
            div.panel-heading.text-align-center Properties Owned
            div#AllPropertiesMap

block script
    script(src="/javascripts/leaflet.js")
    script(type='text/javascript').
        $(document).ready(function() {
                $('#results').DataTable();
            });
        function onEachFeature(feature, layer) {
          if (feature.properties && feature.properties.pop_up_text) {
            layer.bindPopup(feature.properties.pop_up_text);
          }
        };
        var mymap = L.map('AllPropertiesMap')
        if (#{propertyCountForOwner} > 1){
          mymap.fitBounds(#{bbox});
        }
        else{
          var bbox = #{bbox}
          mymap.setView(bbox[0], 17)}
        L.tileLayer('http://a.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(mymap);
        var geo = !{geo}
        L.geoJson(geo, {
          onEachFeature: onEachFeature
        }).addTo(mymap)
