extends layout

block content
    h1 311 Call Results for Landlord (all properties they manage)
    div 
        p You Searched for: #{landlordName}
    div
        p Here is what we found!
    div.col-lg-12
    p Manager since: #{resultsLl[0].IssueDate}

    div
    table.table.table-striped#results
      thead
        tr
          th #
          th Address
          th Type
          th Date of Incident
      tbody
        each rrow, i in resultsLl
          tr
            td #{i+1}
            td#address #{resultsLl[i].Address}
            td #{resultsLl[i].TypeName} 
            td #{moment(resultsLl[i].OpenedDateTime).format('dddd, MMMM Do YYYY')}
block script
    script(type='text/javascript').
        $(document).ready(function() {
                $('#results').DataTable();
            });